$color_primary: rgb(93, 110, 243);
$color_primary_tinted: rgba(93, 110, 243, 0.1);
$color_bg: rgb(253, 253, 252);

$color_grey0: rgb(25, 31, 40);
$color_grey1: rgb(51, 61, 75);
$color_grey2: rgb(128, 128, 128);
$color_grey3: rgb(220, 220, 220);
$color_grey4: rgb(230, 230, 230);
